/* counter code */
.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}
/* counter code */

/* loader code */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 9999;
 background: url( "https://media2.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif?cid=ecf05e47zys6yntabxkaopn742y1nxc59bhck9psit6fal1f&rid=giphy.gif") center no-repeat #fff;
}
/* loader code */

/* next line code */
.nextline {
    display: block;
}
/* next line code */

/* spacing nav code */
.navig{
   margin-top:0px;
   margin-bottom:5px
}
/* spacing nav code */

/* avatar selection code */
* {
  box-sizing: border-box;
}
#avatars{
  width:200px;
  height: 300px;
  overflow-y: auto;
}
.avatars > input{
  display: none;
}

.avatars > input + img{
  cursor: pointer;
  border: 2px solid transparent;
}

.avatars > input:checked + img{
  border: 2px solid red;
}
/* avatar selection code */
